// sidebar
$menuText:#bfcbd9;
$menuActiveText:rgb(44, 113, 171);
$subMenuActiveText:#ffffff; //https://github.com/ElemeFE/element/issues/12951

$menuBg:rgb(0, 0, 0);
$menuHover:rgb(0, 0, 0);

$subMenuBg: #000000;
$subMenuHover:#000000;

$sideBarWidth: 180px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
